@import 'tailwindcss';

@theme {
  /* --color-primary: #000; */
  --color-primary: #2563eb;
}

html {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  background: linear-gradient(to bottom right, var(--color-primary), #1e40af);
  color: white;
}

/* Basic section padding and global feel */
section {
  @apply px-6 py-16 md:px-20;
}

h2 {
  @apply mb-6 text-3xl font-bold;
}
